{% extends 'base.html' %}

{% block titulo %} Vehiculos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a class="uk-button uk-button-text" href="#" role="button">Agregar Nuevo Vehículo</a>
    </div>
    <div class="uk-card">
      <h5 class="uk-card-title">Relación de Vehículos</h5>
  
      <table class="uk-table uk-table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Placa</th>
            <th>Estado</th>
            <th>Concesionario</th>
            <th>Etiqueta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>          
            <td><a class="uk-button uk-button-primary uk-button-small" href="#" role="button">Editar</a> | 
                <a class="uk-button uk-button-danger uk-button-small" href="#" role="button">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}