{% extends 'base.html' %}

{% block titulo %} Agregar Nuevo Concesionario {% endblock %}

{% block contenido %}

<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
    <h3 class="uk-card-title">Crear un Nuevo Concesionario</h3>
    {% include 'empresast/concesionario/form.html' %}
</div>
  
<div>
  {% for message in messages %}
      {% if message.tags == 'success' %}
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script>
              var m = "{{ message }}"
              swal ("Correcto!", m, "success")
          </script>
      {% endif %}
  {% endfor %}
</div>

{% endblock %}