<form action="" enctype="multipart/form-data" method="post" class="uk-form-stacked">
    {% csrf_token %}
    {% for campo in formulario %}

        <label class="uk-form-label">{{ campo.label }}</label>

        <div class="uk-margin">
            <input 
            class="uk-input" 
            type= {{ campo.field.widget.input_type }} 
            name= {{ campo.name }}
            placeholder={{ campo.label }}
            aria-label="Input"
            value="{{ campo.value | default:'' }}">
        </div>

        <div class="uk-alert-danger">{{ campo.errors }}</div>
    {% endfor %}

    <input 
    name="" 
    id="" 
    class="uk-button uk-button-default uk-button-small"
    type="submit"
    value="Guardar Informacion">

    <a class="uk-button uk-button-danger uk-button-small" href="{% url 'empresast:concesionarios' %}" role="button">Volver</a>
</form>
