{% extends 'base.html' %}

{% block titulo %} Operadores {% endblock %}

{% block contenido %}


<div class="card">
  <div class="card-header">
      <a class="uk-button uk-button-text" href="{% url 'empresast:crear' %}" role="button">Crear Nuevo Concesionario</a>

  </div>
  <div class="uk-card">
    <h5 class="uk-card-title">Relación de Concesionarios</h5>

    <table class="uk-table uk-table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Concesionario Código</th>
          <th>Concesionario Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>101</td>
          <td>Concexiuon Movil</td>
          <td><a class="uk-button uk-button-primary uk-button-small" href="{% url 'empresast:editar'%}" role="button">Editar</a> | 
              <a class="uk-button uk-button-danger uk-button-small" href="#" role="button">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer text-muted">
          <a class="uk-button uk-button-text" href="{% url 'empresast:crear' %}" role="button">Crear Nuevo Concesionario</a>
  </div>
</div>





{% endblock %}