{% extends 'base.html' %}

{% block titulo %} Operadores {% endblock %}

{% block contenido %}

{% if concesionario_list %}

<div class="card">
  <div class="card-header">
      <a class="uk-button uk-button-text" href="{% url 'empresast:crear' %}" role="button">Crear Nuevo Concesionario</a>

  </div>
  <div class="uk-card">
    <h5 class="uk-card-title">Relación de Concesionarios</h5>

    <table class="uk-table uk-table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Concesionario Código</th>
          <th>Concesionario Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>101</td>
          <td>Concexiuon Movil</td>
          <td>Editar | Eliminar</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer text-muted">
          <a class="uk-button uk-button-text" href="{% url 'empresast:crear' %}" role="button">Crear Nuevo Concesionario</a>
  </div>
</div>





<ul>
    {% for concesionario in concesionario_list %}
    <li><a href="{% url 'empresast:detail' concesionario.id %}">{{ concesionario.concesionario_nombre}}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No existen Concesionarios</p>
{% endif %}
{% endblock %}