{% extends 'base.html' %}

{% block titulo %} Operadores {% endblock %}

{% block contenido %} 

Seccion Operadores

{% if concesionario_list %}

<div class="card">
  <div class="card-header">
    stron Relación de Concesionarios
  </div>
  <div class="card-body">
    <h5 class="card-title">Concesionarios</h5>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Concesionario Código</th>
          <th>Concesionario Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>101</td>
          <td>Concexiuon Movil</td>
          <td>Editar | Eliminar</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>





<ul>
    {% for concesionario in concesionario_list %}
    <li><a href="{% url 'empresast:detail' concesionario.id %}">{{ concesionario.concesionario_nombre}}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No existen Concesionarios</p>
{% endif %}
{% endblock %}